<div class = "row g-0 my-2 bdr">
    <div class = "col-4 p-3 bdr">{{subCategory.name}}</div>
    <div class = "col-4 p-3 bdr">{{subCategory.spend}}</div>
    <div class = "col-4 p-3 bdr">{{subCategory.left}}</div>
</div>