<main class = "container container-fluid mt-5" id="smallMain">
    <h2 class="text-center">Add a SubCategory to <strong>{{category.name}}</strong></h2>

    <form class = "row justify-content-center">
        <div class="form-group col-lg-6">
            <input type="text" class="form-control" placeholder="Category Name" aria-label="Category Name">
        </div>
    </form>
    <div class="text-center">
        <button type="button" class="btn btn-success mt-2">Add!</button>
    </div>
</main>