<main class = "container container-fluid mt-5" id="smallMain">
    <h2 class="text-center">Add an expense group to <strong>{{subcategory.name}}</strong></h2>

    <form class = "row justify-content-center">
        <div class="form-group col-lg-6">
            <input type="text" class="form-control" placeholder="Expense Name" aria-label="Expense Name" id="expenseName">
        </div>
    </form>
    <div class="text-center">
        <button type="button" class="btn btn-success mt-2" id="addExpenseBtn">Add!</button>
    </div>
    <script src = "/js/expense.js"></script>
</main>