<main class = "container container-fluid mt-5" id="smallMain">
    <h2 class="text-center">Add a SubCategory to <strong>{{category.name}}</strong></h2>

    <form class = "row justify-content-center">
        <div class="form-group col-lg-6">
<<<<<<< HEAD
            <input id="newSub" type="text" class="form-control" placeholder="Category Name" aria-label="Category Name">
=======
            <input type="text" class="form-control" placeholder="Subcategory Name" aria-label="Subcategory Name">
>>>>>>> 0fbace5fc6d5d8a9758ad6dcd4c3ad0fbd159433
        </div>
    </form>
    <div class="text-center">
        <button id="subCatButton" type="button" class="btn btn-success mt-2">Add!</button>
    </div>

    <script src="/js/subcategory.js"></script>
</main>