<main class = "container container-fluid mt-5" id="smallMain">
    <h2 id='subAddTxt' class="text-center">Add a transaction from <strong>{{expense.name}}</strong></h2>

    <form class = "row justify-content-center">
        <div class="form-group col-lg-6">
            <input type="text" class="form-control" placeholder="Transaction Value (decimal form)" aria-label="Transaction Value" id="transactionValue">
        </div>
    </form>
    <div class="text-center">
        <button type="button" class="btn btn-success mt-2" id="addTransactionBtn">Add!</button>
    </div>
    <script src = "/js/addTransaction.js"></script>
</main>