<main class = "container container-fluid mt-5">
    {{#each budgetTables as |category|}}
        <div class = "row text-center">
            <h3 class = "bdr m-0 py-2">{{category.name}}</h3>
        </div>
        {{!-- <div class = "container bdr g-0"></div>
        {{#each Subcategory as |subCategory|}}

            {{> budget-row}}
            
        {{/each}}
        </div> --}}
    {{/each}}
</main>

{{!-- https://handlebarsjs.com/guide/builtin-helpers.html#with --}}