<main class = "container container-fluid mt-5" id="smallMain">
    <h2 class="text-center">Please Sign In!</h2>

    <form class = "row g-1">
        <div class="form-group col-sm-6">
            <input type="text" class="form-control username" placeholder="Username" aria-label="Username">
        </div>
        <div class="form-group col-sm-6">
            <input type="text" class="form-control password" placeholder="Password" aria-label="Password">
        </div>
    </form>

    <div class="text-center">
        <button type="button" class="btn btn-success mt-2 signInButton">Sign In!</button>
        <h3>OR</h3>
        <a href="/signup"><div type="button" class="btn btn-warning mb-2">Sign Up!</div></a>
    </div>

    <script src="./js/login.js"></script>
</main>