<main class = "container container-fluid mt-5">
        <div class="container-xxl m-0 bdr">
            <div class="bdr text-center">
                <h2>{{subCategory.name}}</h2>
            </div>
        </div>
    {{#each expenses as |expense|}}
        <div class = "row text-center">
            <h3 class = "bdr m-0 py-2">{{expense.name}}</h3>
        </div>
        {{#each transactions as |transaction|}}
        <div class = "row justify-content-center g-0 my-0 bdr">
                <div class = "col-7 p-3 bdr text-center">{{transaction.value}}</div>
                <div class="col-2 p-3 bdr text-center">{{format_date transaction.createdAt}}</div>
        </div>
        {{/each}}
    {{/each}}
</main>