:root {
    --primary: #2f363c;
    --secondary: #49859f;
    --tertiary: #2aeba5;;
}

* {
    font-family: 'Roboto Slab', serif;
}

main {
    background-color: var(--primary)
}

.bdr {
    border: 1px solid black;
}

.relative {
    position: relative;
}

#budgetHead {
    color: var(--secondary)
}

.catName {
    color: var(--secondary)
}

.home-col {
    background-color: var(--secondary);
}

.subCatLink {
    text-decoration: none;
    color: inherit;
}

.delCatBtn {
    position: absolute;
    right: 2px;
    top: 6px;
}

.delSubCatBtn {
    position: absolute;
    left: 95px;
    top: 10px;
}

.subCatTxt {
    color: var(--tertiary)
}

.expRow {
    background-color: var(--tertiary)
}

.delExpBtn {
    position: absolute;
    right: 0;
    top: 28px;
}

.delTranBtn {
    position: absolute;
    left: 2px;
    top: 10px;
}

#homeAddTxt {
    color: var(--secondary)
}

#subAddTxt {
    color: var(--tertiary)
}

#logHeadTxt {
    color: var(--tertiary)
}

#loginOr {
    color: var(--secondary)
}